dill
from-root
notebook
boto3
mypy-boto3-s3
flask-cors
flask

# Usage: pip install -r requirements.txt

# Base ----------------------------------------
matplotlib
numpy
opencv-python
Pillow
PyYAML
types-PyYAML
requests
scipy
torch  # see https://pytorch.org/get-started/locally/ (recommended)
torchvision
tqdm
python-box
ensure>=1.0.2
joblib
# protobuf<=3.20.1  # https://github.com/ultralytics/yolov5/issues/8012

# Logging -------------------------------------
tensorboard
# clearml>=1.2.0
# comet

# Plotting ------------------------------------
pandas
seaborn

# Export --------------------------------------
# coremltools>=6.0  # CoreML export
# onnx>=1.9.0  # ONNX export
# onnx-simplifier>=0.4.1  # ONNX simplifier
# nvidia-pyindex  # TensorRT export
# nvidia-tensorrt  # TensorRT export
scikit-learn  # CoreML quantization
tensorflow  # TF exports (-cpu, -aarch64, -macos)
tensorflowjs  # TF.js export
# openvino-dev  # OpenVINO export

# Deploy --------------------------------------
# tritonclient[all]~=2.24.0

# Extras --------------------------------------
ipython  # interactive notebook
psutil  # system utilization
thop  # FLOPs computation
# mss  # screenshots
# albumentations>=1.0.3
# pycocotools>=2.0  # COCO mAP
# roboflow


-e .